html{
    margin: 3em;
    padding: 3em;
    background: #FFF;
    overflow: scroll;
/*    border: 5px solid;
  border-color: black; */
    width: 90%;


}

#wrapperHeader{
    background-image: url(../IMG/Zinzendorf_world.png);
    overflow: hidden;
}

#header{
    left: 50%;
    background: url(../IMG/Zinzendorf_world.png) no-repeat;
    overflow: hidden;

}

body{
    background: #FFF;
    padding: 2em;
    border: 1px solid;
    border-color: black;
    width: 70%;

}

h2{
    color: black;
    font-size: 2em;
    font-family: "Times New Roman";
    font-style: italic;
}

h3{
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
    line-height: 1px;
    text-align: left;
}

h4{
    color: grey;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    line-height: 1px;
    text-align: left;
}

h5{
    font-size: 1em;
    text-align: left;
    line-height: 1px;
}

p {
    font-family: "Times New Roman", sans-serif;
}

persName{
    color: red;
    font-weight: bold;
}

em{
}

br{
    line-height: 20%;
}
.note{
    font-size: .9em;
    line-height: 1.5em;
    color: red;
}

a{
    color: #000;
}
a:visited{
    color: #000;
}
a:hover{
    color: #000;
    font-weight: bold;
}

